@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Model.Value("title") | THE GREATEST GAMING BLOG</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
      
    <div id="navbarDiv">
        Pizza Pirate Blog
    </div>

    <div>
        @RenderBody()
    </div>
    
    <div id="footerDiv">
        FOOTER
    </div>
    
  </body>

  <style>
    #navbarDiv {
      background-color: aliceblue;
      padding: 20px 0 20px 0;
    }
    #footerDiv {
      background-color: aliceblue;
      padding: 20px 0 20px 0;
    }
  </style>

</html>